.panel, .little-panel, .big-panel {
  border: 3px solid dodgerblue;
  background: #eee890;
  margin: 10px;
}

/*
.border-radius{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
*/
.little-panel {
  -webkit-border-radius: 5px;
  -webkit-border-before-width: 20px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.big-panel {
  -webkit-border-radius: 20px;
  -webkit-border-before-width: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  font-size: 32px;
  padding: 5px;
}
