$background-color: rgb(238, 232, 144);

.panel{
    border: 3px solid dodgerblue;
    background: $background-color;
    margin: 10px;
}

.little-panel{
    @extend .panel;
    font-size: 12px;
    padding: 5px;
}

.big-panel{
    @extend .panel;
    font-size: 32px;
    padding: 5px;
}