.button, .jumbo-button, .light-button {
  background: #16A085;
  border-radius: 8px;
  color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.jumbo-button {
  padding: 35px;
}

.light-button {
  /* door color te vermenigvuldigen 
         met getal groter dan 1 
         wordt kleur lichter
         met getal kleiner dan 1
         wordt kleur donkerder
      */
  background: #21f0c8;
}
